section {
  margin-top: 2rem;
}

.about h5:first-child {
  color: var(--color-light);
  font-size: 15px;
}

.about h5 {
  text-align: center;
  color: var(--color-primary);
  font-size: 25px;
}

.abt-me {
  display: grid;
  grid-template-columns: 30% 50%;
  gap: 15%;
  padding: 1.7rem;
  justify-content: center;
}

.about-me {
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary),
    transparent
  );
  display: grid;
  place-items: center;
  width: 100%;
  border-radius: 2rem;
  aspect-ratio: 1/1;
}

.abt-img img {
  width: 100%;
}

.abt-img {
  width: 100%;
  aspect-ratio: 1/1;
  transform: rotate(10deg);
  border-radius: 2rem;
  overflow: hidden;
  transition: all 400ms ease;
}

.abt-img:hover {
  transform: rotate(0deg);
}

.about__card article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  background: var(--color-primary-variant);
  padding: 3rem;
  border-radius: 1.5rem;
}

.about__card article:hover {
  background-color: transparent;
  border: 2px solid var(--color-primary-variant);
}

.abt-card span {
  font-size: 1.5rem;
  color: var(--color-primary);
}

.abt-card h5 {
  color: var(--color-white);
}

.abt-card small {
  font-size: 19px;
  color: var(--color-light);
}

.abt__card {
  display: flex;
  gap: 5%;
}

.abt-right p {
  color: var(--color-light);
  padding: 2rem 2rem 2rem 0;
  text-justify: justify;
  margin-bottom: 2rem;
}

.abt-right a {
  padding: 0.9rem 1.9rem;
  background-color: var(--color-primary);
  cursor: pointer;
  border-radius: 0.3rem;
}

.abt-right a:hover{
    background-color: transparent;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
}
