
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    padding: 2rem;
}

.bio p{
    color: var(--color-white);
    text-align: center;
    font-size: 25px;
}

.bio p:nth-child(2){
    font-size: 2.5rem;
}

.btns {
    display: flex;
    gap: 0.8rem;
    margin-top: 2rem;
}

.btns a{
    padding: 0.9rem 1.9rem;
    background-color: var(--color-primary);
    cursor: pointer;
    border-radius: 0.3rem;
    color: var(--color-white);
}

.btns a:nth-child(1), .btns a:nth-child(2):hover{
    background-color: transparent;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
}

.btns a:nth-child(1):hover{
    background-color: var(--color-primary);
    color: var(--color-white);
}

.me{
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.my-img{
    padding: 2rem;
    padding-bottom: 0;
    border-radius: 15rem 15rem 0 0;
    background: linear-gradient(var(--color-primary), transparent);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.my-img img{
    width: 100%;
    height: auto;
}

.me a#scroll{
    transform: rotate(90deg);
    font-size: 1rem;
    cursor: pointer;
}

.me a{
    font-size: 1.4rem;
    color: var(--color-primary);
}

.socials{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Responsive design */

@media (max-width: 800px){
    .me{
        justify-content: space-between;
    }

    .my-img{
        width: 50%;
    }
}

@media (max-width: 600px){
    .me{
        justify-content: center;
    }

    .me a#scroll, .socials{
        display: none;
    }

    .my-img{
        width: 100%;
    }
}

@media (max-width: 365px){
    .btns{
        flex-direction: column;
    }

    .btns a{
        text-align: center;
        padding: 0.9rem 1rem;
    }
}